:root {
  --primary-color: #287a8f;
  --secondary-color: #86cadc;
  --black-color: #222222;
  --white-color: #f5f8fa;
}
.profile .row img {
  width: 100%;
  height: 100%;
}

.doc-work-pic {
  background-size: cover;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}
.doc-work p {
  font-size: 1.2rem;
}
.doc-work {
  padding: 0;
}

.main-user {
  position: absolute;
  z-index: 9;
  right: 80%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-user ul,
.main-user ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.main-user ul a,
.main-user ul li a {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  padding: 10px;
}

/*First level styles */
.main-user > ul > li > a {
  color: #333;
  padding: 0 8px 17px 8px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
}
.main-user > ul > li:hover > a {
  color: var(--primary-color);
}

.main-user .user-icon i {
  /* position: absolute; */
  /* right: 200px; */
  /* bottom: -10px; */
  font-size: 2rem;
}
/* .main-user .user-icon ul {
  top: 40px;
} */

.main-user {
  width: auto;
}

.main-user a {
  white-space: nowrap;
}

.main-user ul li {
  /* display: inline-block; */
}

.main-user ul li.submenu:hover > a:before,
.main-user ul li.submenu:hover > a:after {
  bottom: -10px;
  opacity: 0;
}

/* Submenu*/
.main-user ul ul,
.main-user ul li .menu-wrapper {
  /* position: absolute; */
  border-top: 2px solid var(--primary-color);
  z-index: 1;
  visibility: hidden;
  /* left: 3px; */
  /* top: 100%; */
  margin: 0;
  display: block;
  padding: 0;
  background: #fff;
  min-width: 210px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-user ul li .menu-wrapper {
  padding: 10px 15px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-user ul li:hover > ul,
.main-user ul li:hover .menu-wrapper {
  padding: 0;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.main-user ul .menu-wrapper ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: none;
  margin: 0;
  /* position: static; */
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.main-user ul .menu-wrapper ul:before {
  border: 0;
}

.main-user ul ul li {
  display: block;
  /* height: auto; */
  padding: 0;
}
.main-user > ul {
  position: relative;
}
.main-user > ul,
.main-user,
.main-user ul li {
  width: 75px;
  height: 50px;
  /* position: absolute; */
}

.main-user ul ul li a {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #555;
  border-bottom: 1px solid #ededed;
  display: block;
  padding: 15px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-user ul ul li:last-child a {
  border-bottom: none;
}

.main-user ul ul li:hover > a {
  background-color: #f9f9f9;
  color: var(--primary-color);
  padding-left: 18px;
}

/* Submenu 3rd level */
.main-user ul ul li.third-level > a {
  font-weight: normal !important;
}
.main-user ul ul li.third-level > a:hover {
  background-color: #f9f9f9;
  color: var(--primary-color);
  padding-left: 18px;
  opacity: 1;
}
.main-user ul ul li.third-level > a:after {
  font-family: "ElegantIcons";
  content: "\35";
  float: right;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -2px;
}

.main-user ul ul ul {
  position: absolute;
  border-top: 0;
  z-index: 1;
  height: auto;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  min-width: 190px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
}

.doc-work-pic {
  max-width: 100%;
  width: 100%;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #doc-slider {
    display: contents;
  }
  #spec-list {
    display: none;
  }
  #logo_home h1 a {
    width: 80px;
    height: 49px;
    background: url(../img/just_logo.png) no-repeat center center/cover;
  }
}
@media only screen and (min-width: 768px) {
  #doc-slider {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  #doc-grid {
    display: contents;
  }
}
@media only screen and (max-width: 767px) {
  #doc-grid {
    display: none;
  }
}

.box_list ul {
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .desktop {
    display: none;
  }
  .mob {
    display: contents;
  }
}
@media only screen and (min-width: 991px) {
  .desktop {
    display: contents;
  }
  .mob {
    display: none;
  }
}

.header_sticky {
  height: 70px;
}
@media only screen and (max-width: 990px) {
}

#header {
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 1000000;
}
#header-non-sticky {
  height: 75px;
}
#reccomended .item img {
  object-fit: cover;
  /* width: 350px; */
  height: 500px;
}

.wrapper p {
  height: 97px;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
.reg {
  color: white;
}
